.youtube-container {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.search-container {
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.search-input {
  width: 70%;
  height: 20px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 2px;
  outline: none;

  min-width: 30vw;
}

.search-button {
  height: 36px;
  padding: 0 16px;
  margin-left: 10px;
  background-color: #f00; /* You can change this to the desired button color */
  color: #fff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 16px;
}

.search-button:hover {
  background-color: #c00; /* You can change this to the desired button color on hover */
}

/*----------*/

/* .youtube-container {
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
} */

.wrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.filter-container {
  width: fit-content;
  margin-top: 10px;
  display: flex;
  gap: 30px;
}

.filter-container label {
  display: flex;
  gap: 10px;
}
.filter-container select {
  width: 10vw;
  height: 21px;
  border: 1px solid #ccc;
  border-radius: 2px;
  outline: none;
}

/* .search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
} */

/* input[type="text"] {
  min-width: 30vw;
  padding: 8px;
} */

/* button {
  padding: 8px 16px;
} */

#resultsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.result-item {
  flex-basis: calc(25% - 20px);
  margin: 10px;
  cursor: pointer;
  border: 1px solid #ddd;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
}

.title {
  font-weight: bold;
  margin-top: 10px;
}

#paginationContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

a {
  margin: 0 5px;
  text-decoration: none;
  color: #333;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.active {
  background-color: #ddd;
}

.embed-container {
  width: 100%;
  height: 576px;
}

.loading {
  font-weight: bold;
}

.back-button {
  cursor: pointer;
  margin-top: 20px;
}

.back-button:hover {
  font-weight: bolder;
}

.no-results {
  font-weight: bold;
}
.channel-name {
  font-weight: bold;
}

.uploader-button {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-bottom: 1px solid black;
  padding: 2px 10px 2px 10px;
  border-radius: 15px;
  cursor: pointer;
  margin-left: 7px;
  transition: background 300ms ease-in;
  font-size: 12px;
}

.uploader-button:hover {
  background: transparent;
  color: #333;

}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .result-item {
    flex-basis: 100%;
  }
}
