:root {
    --bgColor: #006185;
    --highlightColor: #FDBF0F;
  }
  
  body {
    background: var(--bgColor);
    
  }

  .select-label {
    color: #FFF;
    margin: 1em 0;
    font-size: 1.2em;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
  }
  
  .select-container {
    display: inline-block;
    position: relative;
    text-align: left;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
  
  .select-button {
    border: 2px solid #A0A0A0;
    width: 100%;
    background: #F6F6F6;
    color: #333;
    font-size: 1.2em;
    padding: calc(0.3em + 3px) calc(0.5em + 3px);
    position: relative;
    z-index: 1;
  }
  .select-button:focus {
    outline: 2px solid white;
    outline-offset: 5px;
    border-color: #000;
    border-width: 5px;
    box-sizing: border-box;
    padding: 0.3em 0.5em;
  
  }
  .select-dropdown {
    background: #FFF;
    color: #333;
    font-size: 1.2em;
    min-width: 100%;
    margin-top: 15px;
    position: absolute;
    box-sizing: border-box;
    z-index: 0;
    height: 150px;
    overflow-y: scroll;
    /* cursor: pointer; */
  }

  .select-dropdown::-webkit-scrollbar {
   width: 0.5rem;
   background-color: rgba(0,0,0,0.2);

  }
  .select-dropdown::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 35%;
    width: 0.5rem;
     
  }

  .select-dropdown li > label {
    width: 100%;
    display: flex;
    padding: 0.5em 0.5em;
    font-family: sans-serif;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  .select-dropdown label div {
    margin-left: auto;
    flex: 
  }
  
  .select-dropdown label .tag {
    font-size: 0.8em;
    background: #FFD400;
    color: #aa5c19;
    padding: 0.2em;
    display: block;
  }
  
  .select-dropdown {
    transform-origin: top center;
    transition: transform 0.2s;
  }
  
  @media (prefers-reduced-motion) {
    .select-dropdown {
      transition: none;
    } 
  }
  

  .select-button[aria-expanded="true"] + .select-dropdown {
    transform: scaleY(1); /* Update to keep the dropdown open */
  }
  
  .select-button[aria-expanded="false"] + .select-dropdown {
    transform: scaleY(0); /* Update to keep the dropdown closed */
  }

  .chevron {
    display: inline-block;
  }
  
  :not([aria-expanded=true]) > .chevron {
    padding-left: 0.5em;
  }
  
  [aria-expanded=true] > .chevron {
    transform: rotate(180deg);
    padding-right: 0.5em;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li[aria-selected=true] {
    background: var(--highlightColor);
  }
  
  li input.checked + span {
    font-weight: bold;
    width: 100px;
  } 
  
  li input[type=radio] {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    padding: 0;
    margin: 0;
  }
  
  .visuallyHidden {
    width: 0;
    height: 0;
    display: block;
    overflow: hidden;
  }
  
  